/Final.aux
/Final.bbl
/Final.bcf
/Final.blg
/Final.fdb_latexmk
/Final.fls
/Final.lof
/Final.log
/Final.lot
/Final.out
/Final.run.xml
/Final.sta
/Final.synctex.gz
/Final.synctex.gz.sum.synctex
/Final.toc
/pdfa.xmpi
/pdfx.xmpi